BODY {
	SCROLLBAR-FACE-COLOR: #dddde1; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #324056; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #98aab1
}
A:link {
	COLOR: #006699
}
A:visited {
	COLOR: #006699
}
A:hover {
	COLOR: #006699
}
A:active {
	COLOR: #006699
}
.menue_link A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: #333333; PADDING-TOP: 1px; TEXT-DECORATION: underline
}
.menue_link A:hover {
	BORDER-RIGHT: #0a246a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0a246a 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #0a246a 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #0a246a 1px solid; BACKGROUND-COLOR: #b6bdd2; TEXT-DECORATION: none
}
.top A {
	COLOR: #333333; TEXT-DECORATION: none
}
.top A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.edit {
	BORDER-RIGHT: #f89734 1px solid; BORDER-TOP: #f89734 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #f89734 1px solid; BORDER-BOTTOM: #f89734 1px solid; BACKGROUND-COLOR: #e7e7e7
}
.searchedit {
	BORDER-RIGHT: #f89734 1px solid; BORDER-TOP: #f89734 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #f89734 1px solid; BORDER-BOTTOM: #f89734 1px solid; BACKGROUND-COLOR: #365494
}
